<!DOCTYPE html>
<html>
<head>
  <title>Audited</title>
  <%= stylesheet_link_tag    "ecm/audited/application", media: "all" %>
  <%= javascript_include_tag "ecm/audited/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
